.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.form-container {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.input-label {
  font-weight: bold;
}

.input-container {
  margin-bottom: 15px;
}

.username-input-field,
.password-input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.login-button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.login-prompt {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.login-prompt a {
  color: #4caf50;
  text-decoration: none;
}

.login-prompt a:hover {
  text-decoration: underline;
}
